*{
    margin: 0;
    padding: 0
}
.body{
    background-image: linear-gradient(to right,#121326,#263B42);
    
}
.logo{
    width: 100%;
    height: 70px;
    background-color: skyblue;
}
.logo h2{
    padding-top: 10px;
    padding-left: 20px;
}
.navbar ul{
    float: right;
    margin-right: 50px;
    margin-bottom: 10px;
}
.navbar li{
    display: inline-block;
    border: 2px solid black;
    margin-bottom: 10px
}
.navbar li a{
    color: black;
    
    text-decoration: none;
    padding: 5px 15px;
    font-family: poppins;
    font-size: 14px;
    float: left;
    cursor: pointer;
    margin-bottom: 2px;
}
.navbar li:hover{
    color: white;
    background: white;
    z-index: -1;
}
.icon {
    margin-top: 60px;
}

.icon img{
    width: 500px;
    height 40px;
    padding-left: 10px;
}

.content{
    float: right;
    margin-right: 230px;
    margin-top: 110px;
}
.content-text{
    /* text-align: center; */
    color: white;
    font-size: 36px;
    padding: 10px
}
h3{
    color: whitesmoke;
}
.button{
    float:right;
    margin-top: -280px;
    margin-right: 700px;
    width: 95px;
    height: 40px;
    
    background-color: aqua;
    border-radius: 12px;

}
.side{
    float:right;
    margin-top: -295px;
}
.side img{
    width: 35px;
}
.side2{
    float:right;
    margin-top: -250px;
}
.side2 img{
    width: 35px;
}
.side3{
    float:right;
    margin-top: -200px;
}
.side3 img{
    width: 35px;
}
.heading{
    margin-bottom: 2px;
    margin-top: 40px;
    margin-left: 700px;
    font-size: 35px;
    font-weight: bold;
}
.line2{
    width: 100%;
    color: #121326;
    border: 3px solid gray;
    margin-bottom: 40px;
}
.price-comp, .price-comp1,.price-comp2{
    width: auto;
    height: 400px;
    justify-content: center;
    display: flex;
    /* justify-items: space-between; */
    justify-content: space-around;
    margin: 100px 0px 0px 10px;
    box-shadow: #121326;
    box-sizing: border-box;
    /* color: aqua; */
    /* background-color: whitesmoke; */
}
.price-clm, .price-clm1, .price-clm2{
    justify-content: center;
    /* margin: 10px; */
    border: 3px solid gray;
    border-radius: 5px;
    box-shadow: black;
    height: 60%;
    width: 25%;
    color: blue;
    background: whitesmoke;
}
.price, .price1,.price2{
    text-align: center;
    color: black;
    box-shadow: #121326;
}
.plan-name, .plan-name1, .plan-name2{
    text-align: center;
    color: black;
    margin-top: 20px;
    box-sizing: border-box;
}
.price-section1, .price-section, .price-section2{
    margin-top: 10px;
}
.price-section1 img, .price-section img, .price-section2 img{
    width: 120px;
    height: 80px;
    box-sizing: border-box;
    box-shadow: #121326;
}
.line{
    width: 100%;
    color: #121326;
    border: 3px solid gray;
    margin-bottom: 40px;
}
.next{
    height: 300px;
}
.image{
    width: 40px;
    height: 40px;
    justify-content: center;
    margin-left: 700px;
}
.text{
    justify-content: center;
    margin-left: 250px;
    margin-top: 20px;
    margin-right: 250px;
}

footer{
    justify-content: center;
    text-align: center;
}






















